{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Welcome to the Bike Rental Service</h1>
    <p class="text-center">Explore our collection of bikes available for rent.</p>
    {% if bikes %}
    <div class="container-lg my-5">
      <h2 class="text-center mb-4">Available Bikes</h2>
      <div class="row justify-content-center">
        {% for bike in bikes %}
        <div class="col-md-4 mb-4">
          <a href="Bikes/{{ bike.name }}" class="text-decoration-none text-dark">
            <div class="card h-150 shadow-sm">
              <img src="{{ url_for('static', filename='BikePics/' + bike.image_url) }}"
                  class="card-img-top" style="height: 200px; object-fit: contain;" alt="{{ bike.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ bike.name }}</h5>
                    <p class="card-text">{{ bike.Manufacturer }}</p>
                </div>
            </div>
          </a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}